@import "tailwindcss";

:root {
  --background: #fce6f0;
  --card: #faafda;
  --border: #f379c6;
  --page-btn: #f7dfed;
  --badges: #f87ab3;

  --primary: #f18ac0;
  --primary-dark: #db2777;
  --primary-soft: #f7cce5;


  --purple: #a855f7;
  --purple-soft: #e6d0fd;

  --text: #3b1d35;
  --muted: #9b7a94;
}

* {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: var(--text);
  margin: 0;
}